<template>
  <v-icon class="lamp" :color="color" v-text="icon" />
</template>

<script>
export default {
  name: 'App',
  props: {
    on: Boolean,
    on_color: String,
  },
  data() {
    return {
      dialog: true,
      default_on_color: '#0000FF'
    }
  },
  computed: {
    icon() {
      return this.on ? 'mdi-lightbulb-variant' : 'mdi-lightbulb-variant-outline'
    },
    color() {
      return this.on
        ? this.on_color
          ? this.on_color
          : this.default_on_color
        : null
    }
  }
}
</script>

<style scoped>
.lamp {
  font-size: 200px !important;
}
</style>