<template>
    <v-menu>
        <template v-slot:activator="{ on, attrs }">
        <v-btn
            icon
            v-bind="attrs"
            v-on="on"
        >
            {{ selected_lang }}
        </v-btn>
        </template>

        <v-list dense>
            <v-list-item-group
                v-model="selected_lang_item"
                color="primary"
            >
            <v-list-item
                v-for="item in lang_list"
                :key="item.value"
            >
                <v-list-item-content>
                <v-list-item-title v-text="item.label"></v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-menu>
</template>


<script>
export default {
  name: 'App',
  props: [
    'value',
  ],
  methods: {
    handleInput () {
      this.$emit('input', this.content)
    }
  },
  mounted() {
    const local_storage_lang = localStorage.getItem('lang')
    if (local_storage_lang) {
      this.$i18n.locale = local_storage_lang
      this.selected_lang = this.$i18n.locale
      this.selected_lang_item = this.lang_list
        .findIndex((item) => item.value === this.selected_lang)
    }
  },
  watch: {
    selected_lang_item() {
      this.selected_lang = this.lang_list[this.selected_lang_item].value
      this.$i18n.locale = this.selected_lang
      localStorage.setItem('lang', this.selected_lang)
      this.$emit('input', this.selected_lang_item)
    },
  },
  data() {
    return {
      lang_list: [
        {
          label: 'Français',
          value: 'fr',
        },
        {
          label: 'English',
          value: 'en',
        }
      ],

      selected_lang: this.$i18n.locale,
      selected_lang_item: 0,
    }
  },
}
</script>